:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-scheme: hsl(16, 63%, 34%);
  color: rgba(255, 255, 255, 0.87);
   background: linear-gradient(135deg, #0f4c75, #3282b8);
  background: -webkit-linear-gradient(135deg, #0f4c75, #3282b8);
  background: -moz-linear-gradient(135deg, #0f4c75, #3282b8);
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
font-size: 20px;
}

body {
  margin: .5rem auto;
  width: 1200px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  /* border: none; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.bbtn {
  
}

/* Styling */

.header_container {
  border: 2px solid orangered;
  min-height: 550px;
  width: 93%;
  padding: .5rem;
}
.logo__brand {

}

.brand__name {

}

.form-form {
  border: 2px solid orchid;
  display: inline-block;
}


/* Loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
